body{
    background: url(../images/backgrounds/architecture.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
  }