body{
    display: block;
    background-image: url(./Images/Bumstead.webp);
    background-size: cover;
    opacity: 0.6;
    background-repeat: repeat-x;
}

#navigationContainer{
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;

}
.mainHead{
    align-content: center;
}


/*.subHead{
font-style: italic;
display: flex;
justify-content: right;
}*/
